In [2]:
import quandl
import pandas as pd

In [5]:
def quandl_get_daily_data_function(ticker,start,end):
    quandl.ApiConfig.api_key = 'ENTER THE API KEY'

    daily_data_dataframe=quandl.get(ticker,start_date=start, end_date=end)
    daily_data_dataframe.to_csv(ticker.split('/')[1]+'_daily_data_quandl.csv')

In [6]:
# This creates a CSV file in the directory from where this notebook is launched
# Quandl EOD help- https://www.quandl.com/data/EOD-End-of-Day-US-Stock-Prices/documentation

quandl_get_daily_data_function('EOD/MSFT',start='2015-01-01',end='2018-01-01')

In [7]:
# Display the above data
data1 = pd.read_csv('MSFT_daily_data_quandl.csv')
data1.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2015-01-02,46.66,47.4200,46.54,46.760,27913852.0,0.0,1.0,42.035305,42.719978,41.927199,42.125394,27913852.0
1,2015-01-05,46.37,46.7300,46.25,46.325,39673865.0,0.0,1.0,41.774049,42.098367,41.665943,41.733509,39673865.0
2,2015-01-06,46.38,46.7490,45.54,45.650,36447854.0,0.0,1.0,41.783058,42.115484,41.026314,41.125411,36447854.0
3,2015-01-07,45.98,46.4600,45.49,46.230,29114061.0,0.0,1.0,41.422703,41.855128,40.981270,41.647925,29114061.0
4,2015-01-08,46.75,47.7499,46.72,47.590,29645202.0,0.0,1.0,42.116385,43.017180,42.089359,42.873129,29645202.0

In [10]:
#Sharadar Core US Equities Bundle(QUANDL)-https://www.quandl.com/databases/SFA/data

sharadar_data=quandl.get_table('SHARADAR/SF1', calendardate='2011-12-31', ticker='MSFT')

sharadar_data.to_csv('Sharadar_type1.csv')

In [13]:
# Display the above data
data2 = pd.read_csv('Sharadar_type1.csv')
data2.head()

,None,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
0,0,MSFT,MRY,2011-12-31,2011-06-30,2011-06-30,2019-10-23,0,108704000000,9.806925e+10,...,8432767307,8490000000,8593000000,8.238,95379000000,2467000000,4921000000,2036000000,11.234,46144000000
1,1,MSFT,MRT,2011-12-31,2011-12-31,2011-12-31,2019-10-23,0,112243000000,1.070222e+11,...,8412182277,8402000000,8465000000,8.576,89992000000,2169000000,4421000000,2003000000,10.711,47140000000
2,2,MSFT,MRQ,2011-12-31,2011-12-31,2011-12-31,2019-10-23,0,112243000000,NaN,...,8412182277,8402000000,8465000000,2.486,89992000000,2169000000,1615000000,2003000000,10.711,47140000000
3,3,MSFT,ARY,2011-12-31,2011-07-28,2011-06-30,2019-10-23,0,108704000000,9.806925e+10,...,8378265782,8490000000,8593000000,8.238,95379000000,2467000000,4921000000,2036000000,11.234,46144000000
4,4,MSFT,ART,2011-12-31,2012-01-19,2011-12-31,2019-10-23,0,112243000000,1.070222e+11,...,8390771388,8402000000,8465000000,8.576,89992000000,2169000000,4421000000,2003000000,10.711,47140000000

In [15]:
sharadar_data2=quandl.get_table('SHARADAR/SF1', ticker='MSFT', calendardate='2011-12-31,2010-12-31,2009-12-31')

sharadar_data.to_csv('Sharadar_type2.csv')

In [16]:
# Display the above data
data3 = pd.read_csv('Sharadar_type2.csv')
data3.head()

,None,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
0,0,MSFT,MRY,2011-12-31,2011-06-30,2011-06-30,2019-10-23,0,108704000000,9.806925e+10,...,8432767307,8490000000,8593000000,8.238,95379000000,2467000000,4921000000,2036000000,11.234,46144000000
1,1,MSFT,MRT,2011-12-31,2011-12-31,2011-12-31,2019-10-23,0,112243000000,1.070222e+11,...,8412182277,8402000000,8465000000,8.576,89992000000,2169000000,4421000000,2003000000,10.711,47140000000
2,2,MSFT,MRQ,2011-12-31,2011-12-31,2011-12-31,2019-10-23,0,112243000000,NaN,...,8412182277,8402000000,8465000000,2.486,89992000000,2169000000,1615000000,2003000000,10.711,47140000000
3,3,MSFT,ARY,2011-12-31,2011-07-28,2011-06-30,2019-10-23,0,108704000000,9.806925e+10,...,8378265782,8490000000,8593000000,8.238,95379000000,2467000000,4921000000,2036000000,11.234,46144000000
4,4,MSFT,ART,2011-12-31,2012-01-19,2011-12-31,2019-10-23,0,112243000000,1.070222e+11,...,8390771388,8402000000,8465000000,8.576,89992000000,2169000000,4421000000,2003000000,10.711,47140000000

In [17]:
list(data3.columns)

['None',
 'ticker',
 'dimension',
 'calendardate',
 'datekey',
 'reportperiod',
 'lastupdated',
 'accoci',
 'assets',
 'assetsavg',
 'assetsc',
 'assetsnc',
 'assetturnover',
 'bvps',
 'capex',
 'cashneq',
 'cashnequsd',
 'cor',
 'consolinc',
 'currentratio',
 'de',
 'debt',
 'debtc',
 'debtnc',
 'debtusd',
 'deferredrev',
 'depamor',
 'deposits',
 'divyield',
 'dps',
 'ebit',
 'ebitda',
 'ebitdamargin',
 'ebitdausd',
 'ebitusd',
 'ebt',
 'eps',
 'epsdil',
 'epsusd',
 'equity',
 'equityavg',
 'equityusd',
 'ev',
 'evebit',
 'evebitda',
 'fcf',
 'fcfps',
 'fxusd',
 'gp',
 'grossmargin',
 'intangibles',
 'intexp',
 'invcap',
 'invcapavg',
 'inventory',
 'investments',
 'investmentsc',
 'investmentsnc',
 'liabilities',
 'liabilitiesc',
 'liabilitiesnc',
 'marketcap',
 'ncf',
 'ncfbus',
 'ncfcommon',
 'ncfdebt',
 'ncfdiv',
 'ncff',
 'ncfi',
 'ncfinv',
 'ncfo',
 'ncfx',
 'netinc',
 'netinccmn',
 'netinccmnusd',
 'netincdis',
 'netincnci',
 'netmargin',
 'opex',
 'opinc',
 'payables',
 'payoutratio',
 'pb',
 'pe',
 'pe1',
 'ppnenet',
 'prefdivis',
 'price',
 'ps',
 'ps1',
 'receivables',
 'retearn',
 'revenue',
 'revenueusd',
 'rnd',
 'roa',
 'roe',
 'roic',
 'ros',
 'sbcomp',
 'sgna',
 'sharefactor',
 'sharesbas',
 'shareswa',
 'shareswadil',
 'sps',
 'tangibles',
 'taxassets',
 'taxexp',
 'taxliabilities',
 'tbvps',
 'workingcapital']

In [18]:
fd = data3[['ticker','dimension','calendardate','datekey','assets','liabilities','debt','sharesbas','sharefactor','netinc','ncf',
                                      'cashneq','ncfdiv','ncfcommon','ppnenet','inventory',
                                     'capex','ncfo','ncff','ncfi','revenue','cor','sgna','epsdil']]
fd.head()

,ticker,dimension,calendardate,datekey,assets,liabilities,debt,sharesbas,sharefactor,netinc,...,ppnenet,inventory,capex,ncfo,ncff,ncfi,revenue,cor,sgna,epsdil
0,MSFT,MRY,2011-12-31,2011-06-30,108704000000,51621000000,11921000000,8432767307,1.0,23150000000,...,8162000000,1372000000,-2355000000,26994000000,-8376000000,-14616000000,69943000000,15577000000,18162000000,2.69
1,MSFT,MRT,2011-12-31,2011-12-31,112243000000,48122000000,11932000000,8412182277,1.0,23468000000,...,8010000000,1351000000,-2234000000,28969000000,-6368000000,-15972000000,72052000000,17020000000,18593000000,2.75
2,MSFT,MRQ,2011-12-31,2011-12-31,112243000000,48122000000,11932000000,8412182277,1.0,6624000000,...,8010000000,1351000000,-498000000,5862000000,-2513000000,-5568000000,20885000000,5638000000,4882000000,0.78
3,MSFT,ARY,2011-12-31,2011-07-28,108704000000,51621000000,11921000000,8378265782,1.0,23150000000,...,8162000000,1372000000,-2355000000,26994000000,-8376000000,-14616000000,69943000000,15577000000,18162000000,2.69
4,MSFT,ART,2011-12-31,2012-01-19,112243000000,48122000000,11932000000,8390771388,1.0,23468000000,...,8010000000,1351000000,-2234000000,28969000000,-6368000000,-15972000000,72052000000,17020000000,18593000000,2.75

In [19]:
fd.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])